body{
    text-align: center;
    padding: 0;
    margin:0;
}
.social_media{
    background-color: rgb(47, 114, 47,0.8);
    height : 80px;
    margin:0;
    display: flex;
}

.social_media ul{
    color:white;
    margin:10px;
    padding : 10px;
    text-align: center;
    display:flex;
}


.social_media ul li{
    display : inline-block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-right: 15px;
}

.list1 li:hover{
    transform: scale(1.25);
    background-color: rgba(19, 18, 18, 0.8); 
}

.media i:hover{
    transform: scale(1.25);
    background-color: rgba(19, 18, 18, 0.8); 
}

.emptydiv_1{
    width:550px;
}

.media{
    display:flex;
    align-items: center;
    padding : 10px 0px 10px 10px;
    margin : 10px 0px 10px 10px;
}

.media i{
    display : inline-block;
    margin-left: 30px; 
    height : 20px;
    width: 25px;
    direction: rtl;
    color: white;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: small;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color: green;
    padding: 2px 0;
    margin: 0;
}

.logo img {
    border-radius: 50%;
    border: 2px solid green;
    padding: 2px;
    object-fit: cover;
    margin-bottom: 5px;
    height: 80px;
    width: 80px;
}

.logo h1 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.list{
    flex-grow: 1;
    margin: 0;
    padding-right: 20px;
}

.header ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header ul li{
    padding: 10px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

nav li:hover{
    transform:scale(1.25);
    background-color: rgb(47, 114, 47,0.8);
}

nav ul li{
    display : inline-block;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: large;

}

.emptydiv-2{
    width: 150px;
}

.icons{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    min-width: 120px;
}

.icons i {
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.2s;
    color: #333;
    padding: 5px;
}

.icons i:hover{
    transform: scale(1.25);
    color: rgb(47, 114, 47);
}

.image{
    position: relative; 
    text-align: center;
}


.website_image .image {
    display: block;
    width: 100%; 
    height: auto; 
}

.website_image .text{
    position: absolute;
    color: rgb(255, 255, 255,0.8);
    font-size:50px;
    font-weight: bolder;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    top:70%;
    bottom: 60%;
    right:10%;
    left:10%;
}

.website_image button{
    font-size: medium;
    font-weight: bold;
    font-family: cursive;
}

.website_image h1{
    margin:0;
}   

.website_image p{
    margin:5px;
    font-size: 45px;
    color:rgba(255, 255, 255, 0.8);

}

h2{
    text-align: center;
    font-weight : bold;
    font-family: Arial, Helvetica, sans-serif;
}



.products{
    display: inline-block;
    width: 400px;
    height:400px;
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.products img{
    height :300px;
    width : 300px;
}

.products p{
    font-size:medium;
    font-weight: 900;
}

.products button{
    font-weight:900;
    background-color: green;
    color: black;
    
}

.about_us{
    border: 3px solid green;
    border-radius: 9px;
    width: 50%;
    margin-left: 25%;
    box-shadow: 5px 5px rgb(0,0,0,0.5);
}

.about_us h2{
          font-size: 30px;
          font-weight: bolder;
}

.about_us p{
    font-size: 20px;
    font-weight: normal;
}

.stay_updated{
    border: 3px solid green;
    border-radius: 9px;
    width: 50%;
    margin-left: 25%;
    box-shadow: 5px 5px rgb(0,0,0,0.5);
}

.stay_updated h2{
    font-size: 30px;
    font-weight: bolder;
}

.stay_updated p{
    font-size: 20px;
    font-weight: normal;
}

.stay_updated form{
    margin: 10px;
    text-align: center;
}

.stay_updated input{
    height: 30px;
    width: 250px;
}

.stay_updated button{
    height: 30px;
}

footer{
    background-color: rgb(47, 114, 47,0.8);
    text-align: center;
    font-size: 20px;
    height: 50px;
    justify-content: center;
}

footer h4{
    padding: 10px;
    margin:10px;
}
